/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #13ffff; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
}
.wrap{
	width:100%;
	margin:0 auto;
}
.header_top{
	background:#1fffff;
	padding-bottom:20px;
}
.logo{
	text-align:center;
}
.search_box{
	border:1px solid #27f0ff;
	-moz-box-shadow: inset 0 0 5px -1px #06efff;
   -webkit-box-shadow: inset 0 0 5px -1px #06efff;
    box-shadow: inset 0 0 5px -1px #06efff;
    margin:0px 10px;
}
.search_box input[type="text"]{
	width:90%;
	padding:3px;
	border:none;
	font-size:12px;
	color:#40515b;
	outline:none;
	background:none;
}
.search_box input[type="submit"]{
	 background:url(../images/search.png) no-repeat 0 2px;
	 width:20px;
	 border:none;
	 cursor:pointer;
}
.header_bottom{
	 border-top:5px solid #434f56;
}
.menu{
	font-family:'Armata', sans-serif;
	background:#494b4d;
	padding:10px;
}
.menu li a{	 
	background:url(../images/list_img.png) no-repeat 1px;
	color:#1affff;
	font-size:14px;
	display:block; 
	padding:12px 15px;
}
.menu li:hover {
    background:#434f56;
}
.banner{ 
	background:#434f56;
	padding:10px 8px 0;
}
.header_banner_data{
	float:left;
    padding-top:30px;
 }
.header_banner_data h1{
	font-size:12px;
	color:#1affff;
	font-weight:bold;
	font-family:'Armata', sans-serif;
}
.header_banner_data h1 span{
	color:#0b6daa;
}
.banner_img{
	float:left;
	margin-bottom:-4px;
}
.sidebar_top{
	padding:10px;
	background: #13ffff;
    background: -moz-linear-gradient(top,  #13ffff 0%, #09f7ff 0%, #06efff 0%, #12ffff 8%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13ffff), color-stop(0%,#09f7ff), color-stop(0%,#06efff), color-stop(8%,#12ffff));
    background: -webkit-linear-gradient(top,  #13ffff 0%,#09f7ff 0%,#06efff 0%,#12ffff 8%);
    background: -o-linear-gradient(top,  #13ffff 0%,#09f7ff 0%,#06efff 0%,#12ffff 8%);
    background: -ms-linear-gradient(top,  #13ffff 0%,#09f7ff 0%,#06efff 0%,#12ffff 8%);
    background: linear-gradient(to bottom,  #13ffff 0%,#09f7ff 0%,#06efff 0%,#12ffff 8%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13ffff', endColorstr='#12ffff',GradientType=0 );
}
.sidebar_top h2{
	font-family:'Armata', sans-serif;
	font-size:20px;
	color:#222a2e;
}
.sidebar_top_data h3{
	font-size:14px;
	color:#222a2e;
	margin:10px 0;
}
.sidebar_top_data{
	border-bottom:1px solid #06efff;
	padding:10px 0;
}
.sidebar_top_desc{
	float:left;
	width:68%;
}
.sidebar_top_desc p{
	font-size:13px;
	color:#007cd7;
	padding:5px 0;
}
.sidebar_top_desc p span{
	font-size:11px;
	color:#434f56;
	font-weight:bold;
	background:url(../images/list_img2.png) no-repeat 0px;
	padding-left:12px;
	cursor:pointer;
}
.sidebar_top_desc p span:hover{
	text-decoration:underline;
}
.sidebar_top_data img{
	float:left;
	border: 1px solid rgb(0,212,255);
    padding: 2px;
    background: #0dffff;
	margin-left:7px;
}
.sidebar_bottom{
	margin-top:11px;
}
.sidebar_bottom p{
	font-size:12px;
	color:#007cd7;
	padding:6px 0;
	line-height:1.6em;
}
.sidebar_bottom p span{
	color:#1fadff;
	font-weight:bold;
}
.sidebar_bottom li{
	font-size:12px;
	color:FA8072;
	padding:5px 0;
	list-style-type:square;
	margin-left:15px;
	cursor:pointer;
}
.sidebar_bottom li:hover{
	color:#1fadff;
}
.content{
	background:#1affff;
}
.grid1{
	padding:10px;
	background: #13ffff;
	background: -moz-linear-gradient(top,  #13ffff 0%, #09f7ff 0%, #06efff 0%, #12ffff 28%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13ffff), color-stop(0%,#09f7ff), color-stop(0%,#06efff), color-stop(28%,#12ffff));
	background: -webkit-linear-gradient(top,  #13ffff 0%,#09f7ff 0%,#06efff 0%,#12ffff 28%);
	background: -o-linear-gradient(top,  #13ffff 0%,#09f7ff 0%,#06efff 0%,#12ffff 28%);
	background: -ms-linear-gradient(top,  #13ffff 0%,#09f7ff 0%,#06efff 0%,#12ffff 28%);
	background: linear-gradient(to bottom,  #13ffff 0%,#09f7ff 0%,#06efff 0%,#12ffff 28%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13ffff', endColorstr='#12ffff',GradientType=0 );
}
.grid1 h2{
	font-family:'Armata', sans-serif;
	font-size:20px;
	color:#222a2e;
	font-weight:bold;
}
.grid1_desc{
	margin-top:15px;
}
.grid1 p{
	font-size:12px;
	color:#007cd7;
	padding:5px 0;
	line-height:1.6em;
}
.grid1 p span{
	color:#1fadff;
	font-weight:bold;
}
.grid2{
	padding:10px 10px 0;
	background:#1affff;
	border-top:5px solid #494b4d;
	position:relative;
}
.grid2 h2{
	font-family:'Armata', sans-serif;
	font-size:20px;
	color:#222a2e;
}
.grid2_desc{
    float:left;
    width:73%
}
.grid2 p{
	font-size:13px;
	color:#007cd7;
	padding:5px 0;
	line-height:1.6em;
}
.grid2 p span{
	color:#1fadff;
	font-weight:bold;
}
.grid2_data img{
	float:left;
}
.grid3{
	background:#494b4d;
	padding:10px;
}
.grid3 p{
	font-size:12px;
	color:#1affff;
	padding:5px 0;
	line-height:1.6em;
}
.grid3 p span{
	color:#1affff;
	font-weight:bold;
}
.grid3 img{
	padding:3px;
	border:1px solid #403434;
	background:#3b5362;
}
.grid4{
	padding:10px;
	background:#1affff;
}
.grid4 p{
	font-size:13px;
	color:#007cd7;
	padding:5px 0;
	line-height:1.6em;
}
.grid4 p span{
	color:#007cd7;
	font-weight:bold;
}
.grid4 li{
	font-size:12px;
	color:#1fadff;
	padding:5px 0;
	list-style-type:square;
	margin-left:15px;
	cursor:pointer;
}
.footer{
	padding:10px;
	background:#4a3737;
}
.footer_nav{
	text-align:center;
}
.footer_nav li{
	display:inline-block;
}
.footer_nav li a{
	color:#1affff;
	font-size:12px;
	margin:0 5px;	
}
.footer_nav li a:hover{
	border-bottom:1px dotted #1affff;
}
.copy_right{
	text-align:center;
	margin-top:5px;
}
.copy_right p{
	font-size:12px;
	color:#13ffff;
}
.copy_right p a{
	font-size:12px;
	color:#13ffff;
}
.copy_right p a:hover{
	color:#1affff;
	border-bottom:1px solid #1affff;
}
/* about */
.about_data{
	padding:10px;
}
.about_data h2{
	font-family:'Armata', sans-serif;
	font-size:20px;
	color:#222a2e;
}
.about_data p{
	font-size:13px;
	color:#007cd7;
	padding:5px 0;
	line-height:1.6em;
}
.about_data p span{
	color:#1fadff;
	text-decoration:underline;
}
.about_desc{
	margin-top:30px;
}
.about_desc img{
	padding:2px;
	border:1px solid #1affff;
	background:#2c5b79;
	border-radius:5px;
}
.about_desc_data p{
	font-size:13px;
	color:#007cd7;
	padding:5px 0;
	line-height:1.6em;
}
.about_desc_data p span{
	color:#1fadff;
	font-weight:bold;
	text-decoration:underline;
}
.about_desc_data p span.about_desc{
	color:#007cd7;
	font-weight:bold;
}
/* services */
.services_data{
	padding-top:15px;
}
.services_data h2 span{	
	color:#226188;
}
.services_desc{
	padding:10px 0;
	border-bottom:1px solid #0df9ff;
}
.services_desc img{
	float:left;
}
.services_desc_data{
	float:left;
	width:64%;
}
.services_desc_data p{
	font-size:13px;
	color:#007cd7;
	padding:5px 0;
	line-height:1.6em;
}
.read_more{
	text-align:right;
	margin-right:20px;	
}
.read_more h3{
	font-size:13px;
	width:60px;
	padding:5px;
	cursor:pointer;
	 background        : #564444;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjYjQwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MzkwMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #564444 0%, #4a3737 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#564444), color-stop(100%,#4a3737));
        background        : -webkit-linear-gradient(top,  #564444 0%,#4a3737 100%);
        background        : -o-linear-gradient(top,  #564444 0%,#4a3737 100%);
        background        : -ms-linear-gradient(top,  #564444 0%,#4a3737 100%);
        background        : linear-gradient(top,  #564444 0%,#4a3737 100%);
        filter             : progid:DXImageTransform.Microsoft.gradient( startColorstr='#564444', endColorstr='#4a3737',GradientType=0 );
        box-shadow        : 0 -1px 0 0 #564444 inset, 0 -1px 0 0 rgba(26,255,255,0.7);  
        -moz-box-shadow   : 0 -1px 0 0 #564444 inset, 0 -1px 0 0 rgba(26,255,255,0.7);
	    -webkit-box-shadow: 0 -1px 0 0 #564444 inset, 0 -1px 0 0 rgba(26,255,255,0.7);
        color             : #1affff;
        text-shadow       : 0 -1px 0 rgba(0,0,0, 0.30);
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;	
}
.read_more h3:hover{
	    background        : #4d4949;
        filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4949', endColorstr='#4d4949');
        box-shadow        : 0 -1px 0 0 #222a2e inset, 0 -1px 0 0 rgba(26,255,255,0.7);  
        -moz-box-shadow   : 0 -1px 0 0 #222a2e inset, 0 -1px 0 0 rgba(26,255,255,0.7);
	    -webkit-box-shadow: 0 -1px 0 0 #222a2e inset, 0 -1px 0 0 rgba(26,255,255,0.7);
        color             : #1affff;
        text-shadow       : 0 -1px 0 rgba(0,0,0, 0.30);
}
/* contact */
.feedback{
    margin-top:15px;
}
.form_1{
	float:left;
	width:50%;
}
.form_2{
	float:left;
	width:50%;
}
form label{
	font-size:13px;
	color:#007cd7;
}
.feedback form input[type="text"],.feedback textarea{
	padding:3px;
	font-size:12px;
    display:block;
	width:93%;
	background:none;
	border: 1px solid #0ffcff;
	outline:none;
	color:#008ff4;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
   -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
   -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
    font-family:Arial, Helvetica, sans-serif;		
}
.feedback textarea{
	resize:none;
	height:110px;		
}
 .feedback form input[type="text"]:focus,.feedback textarea:focus{ 
    border: 1px solid #03d9ff;  
}
.feedback form input[type="submit"]{
        border            : 1px solid #403434;
        background        : #494b4d;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1ZDEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZmIwMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #494b4d 0%, #2d5b77 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494b4d), color-stop(100%,#2d5b77));
        background        : -webkit-linear-gradient(top,  #494b4d 0%,#2d5b77 100%);
        background        : -o-linear-gradient(top,  #494b4d 0%,#2d5b77 100%);
        background        : -ms-linear-gradient(top,  #494b4d 0%,#2d5b77 100%);
        background        : linear-gradient(top,  #494b4d 0%,#2d5b77 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#494b4d', endColorstr='#2d5b77',GradientType=0 );
        color             : #1affff;
        text-shadow       : 0 -1px 0 rgba(0,0,0, 0.4);   
        box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(26,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(26,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(26,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);  
    cursor:pointer;
    border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -o-border-radius:5px;
    padding:6px;
}
.feedback form input[type="submit"]:hover{
	    border            : 1px solid #403434;
        background        : #494b4d;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1ZDEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZmIwMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #494b4d 0%, #2d5b77 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494b4d), color-stop(100%,#2d5b77));
        background        : -webkit-linear-gradient(top,  #494b4d 0%,#2d5b77 100%);
        background        : -o-linear-gradient(top,  #494b4d 0%,#2d5b77 100%);
        background        : -ms-linear-gradient(top,  #494b4d 0%,#2d5b77 100%);
        background        : linear-gradient(top,  #494b4d 0%,#2d5b77 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#494b4d', endColorstr='#2d5b77',GradientType=0 );
}
.feedback form input[type="submit"]:active{
	border            : 1px solid #403434;
        background        : #494b4d;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1ZDEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NTlmMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #494b4d 0%, #494141 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494b4d), color-stop(100%,#494141));
        background        : -webkit-linear-gradient(top,  #494b4d 0%,#494141 100%);
        background        : -o-linear-gradient(top,  #494b4d 0%,#494141 100%);
        background        : -ms-linear-gradient(top,  #494b4d 0%,#494141 100%);
        background        : linear-gradient(top,  #494b4d 0%,#494141 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#494b4d', endColorstr='#494141',GradientType=0 );
        box-shadow        : inset 0 2px 5px 0 #513a3a;
        -moz-box-shadow   : inset 0 2px 5px 0 #513a3a;
        -webkit-box-shadow: inset 0 2px 5px 0 #513a3a;
}
.map{
	border:1px solid #0dffff;
}
