@charset "utf-8";

html, body {
height:100%;
min-height:100%;
margin: 0px;
padding: 0px;
}

.whole {
	float: left;
	height: 100%;
	width: 100%;
	background-color: #4df5ff;
}
@charset "utf-8";
.bar {
	background-color: #020001;
	float: left;
	height: 4%;
	width: 68%;
}
.topright {
	height: 97%;
	width: 65%;
	background-color: #ff0058;
	float: right;
	
	border-top-width:2%;
	border-bottom-width:2%;
	border-right-width: 2%;
	border-left-width: 2%;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	margin-top: 2%;
	margin-right: 2%;
	
	margin-left: 0px;
	border-top-color: #4df5ff;
	border-right-color: #4df5ff;
	border-bottom-color: #4df5ff;
	border-left-color: #4df5ff;
}
@charset "utf-8";
.smallbar {
	background-color: #4df5ff;
	height: 2%;
	width: auto;
	padding-bottom: 0px;
	margin-bottom: 6px;
}
.left {
	width: 28%;
	height: 97%;
	float: left;
	border-top-width: 2%;
	border-right-width: 2%;
	border-left-width: 2%;
	border-bottom-width:2%;
	border-top-color: #4df5ff;
	border-right-color: #4df5ff;
	border-bottom-color: #4df5ff;
	border-left-color: #4df5ff;
	margin-top: 2.25%;

	margin-left: 2%;
	background-color: #ff0058;
}




